<a href="https://colab.research.google.com/github/Manya123-max/Big-Data-Framework/blob/main/BDF7_SparkSQL_Operation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


**Aim:**
The aim of this code is to perform data analysis on Snapchat user activity using PySpark. The script demonstrates the use of SQL queries on structured data to extract insights such as user engagement, snap trends, and geographic distributions.

**Step 1: Spark Session Initialization**

The first step initializes the PySpark environment by creating a SparkSession. This is needed to interact with the Spark engine.

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

In [ ]:
# Initialize Spark Session
spark = SparkSession.builder.master("local[*]").appName("Snapchat Data Analysis").getOrCreate()

**Step 2: Sample Data and DataFrame Creation**

A dataset representing user activity on Snapchat is created as a list of tuples and then converted into a PySpark DataFrame. Each tuple contains data for one user, including their User_ID, Username, Snap_Date, Snap_Type, etc.

In [ ]:
# Sample Data
data = [
    ("U001", "john_doe", "2024-11-01", "photo", 150, 300, 45, 25, 0.10, "New York"),
    ("U002", "jane_smith", "2024-11-02", "video", 250, 450, 100, 100, 0.25, "Los Angeles"),
    ("U003", "mike_lee", "2024-11-03", "photo", 120, 200, 30, 30, 0.15, "Chicago"),
    ("U004", "sarah_king", "2024-11-04", "video", 350, 600, 80, 120, 0.30, "San Francisco"),
    ("U005", "tom_jones", "2024-11-05", "photo", 200, 350, 60, 10, 0.20, "Miami"),
    ("U006", "lucy_brown", "2024-11-06", "photo", 180, 250, 55, 20, 0.10, "Seattle"),
    ("U007", "david_martin", "2024-11-07", "video", 400, 800, 120, 150, 0.35, "Austin"),
    ("U008", "emily_clark", "2024-11-08", "photo", 300, 550, 90, 60, 0.25, "New York"),
    ("U009", "lucas_white", "2024-11-09", "video", 220, 450, 75, 80, 0.30, "Chicago"),
    ("U010", "olivia_perez", "2024-11-10", "photo", 150, 300, 40, 15, 0.20, "Los Angeles")
]

In [ ]:
# Column names
columns = ["User_ID", "Username", "Snap_Date", "Snap_Type", "Friends_Count", "Snap_Views",
           "Messages_Sent", "Snap_Streak", "Snap_Amount", "Location"]

In [ ]:
# Create DataFrame
df = spark.createDataFrame(data, columns)

**Step 3: Register DataFrame as SQL Temporary Table**

This step registers the DataFrame as a temporary SQL table so that SQL queries can be executed on it.

In [ ]:
# Register DataFrame as a SQL temporary table
df.createOrReplaceTempView("snapchat_data")

**Step 4: SQL Queries for Analysis**

Multiple SQL queries are run on the dataset to extract insights.

1. Total Snap Views per User: This query calculates the total number of views each user received on their snaps.

In [ ]:
# Perform SQL Queries
print("1. Total Snap Views per User:")
spark.sql("SELECT Username, SUM(Snap_Views) AS Total_Views FROM snapchat_data GROUP BY Username").show()

1. Total Snap Views per User:
+------------+-----------+
|    Username|Total_Views|
+------------+-----------+
|  jane_smith|        450|
|    mike_lee|        200|
|  sarah_king|        600|
|    john_doe|        300|
|   tom_jones|        350|
|olivia_perez|        300|
|david_martin|        800|
| lucas_white|        450|
|  lucy_brown|        250|
| emily_clark|        550|
+------------+-----------+

2. Average Snap Amount per User: This query calculates the average amount each user spent on snaps.

In [ ]:
print("2. Average Snap Amount per User:")
spark.sql("SELECT Username, AVG(Snap_Amount) AS Avg_Snap_Amount FROM snapchat_data GROUP BY Username").show()

2. Average Snap Amount per User:
+------------+---------------+
|    Username|Avg_Snap_Amount|
+------------+---------------+
|  jane_smith|           0.25|
|    mike_lee|           0.15|
|  sarah_king|            0.3|
|    john_doe|            0.1|
|   tom_jones|            0.2|
|olivia_perez|            0.2|
|david_martin|           0.35|
| lucas_white|            0.3|
|  lucy_brown|            0.1|
| emily_clark|           0.25|
+------------+---------------+

3. Users with Snap Streak greater than 50: This query identifies users with a snap streak of more than 50 days.

In [ ]:
print("3. Users with Snap Streak greater than 50:")
spark.sql("SELECT Username, Snap_Streak FROM snapchat_data WHERE Snap_Streak > 50").show()

3. Users with Snap Streak greater than 50:
+------------+-----------+
|    Username|Snap_Streak|
+------------+-----------+
|  jane_smith|        100|
|  sarah_king|        120|
|david_martin|        150|
| emily_clark|         60|
| lucas_white|         80|
+------------+-----------+

4. Total Messages Sent by Country: This query calculates the total number of messages sent by users from each location.

In [ ]:
print("4. Total Messages Sent by Country:")
spark.sql("SELECT Location, SUM(Messages_Sent) AS Total_Messages FROM snapchat_data GROUP BY Location").show()

4. Total Messages Sent by Country:
+-------------+--------------+
|     Location|Total_Messages|
+-------------+--------------+
|  Los Angeles|           140|
|San Francisco|            80|
|      Chicago|           105|
|        Miami|            60|
|     New York|           135|
|       Austin|           120|
|      Seattle|            55|
+-------------+--------------+

5. User with the highest Snap Amount: This query identifies the user with the highest snap amount spent.

In [ ]:
print("5. User with the highest Snap Amount:")
spark.sql("SELECT Username, MAX(Snap_Amount) AS Max_Snap_Amount FROM snapchat_data GROUP BY Username ORDER BY Max_Snap_Amount DESC LIMIT 1").show()

5. User with the highest Snap Amount:
+------------+---------------+
|    Username|Max_Snap_Amount|
+------------+---------------+
|david_martin|           0.35|
+------------+---------------+

6. Number of Users with Video Snaps: This query counts how many distinct users posted video snaps.

In [ ]:
print("6. Number of Users with Video Snaps:")
spark.sql("SELECT COUNT(DISTINCT Username) AS Video_Snap_Users FROM snapchat_data WHERE Snap_Type = 'video'").show()

6. Number of Users with Video Snaps:
+----------------+
|Video_Snap_Users|
+----------------+
|               4|
+----------------+

7. Average Friends Count across All Users: This query calculates the average number of friends across all users.

In [ ]:
print("7. Average Friends Count across All Users:")
spark.sql("SELECT AVG(Friends_Count) AS Avg_Friends_Count FROM snapchat_data").show()

7. Average Friends Count across All Users:
+-----------------+
|Avg_Friends_Count|
+-----------------+
|            232.0|
+-----------------+

8. Users from New York with Photo Snaps: This query filters users from New York who posted photo snaps.

In [ ]:
print("8. Users from New York with Photo Snaps:")
spark.sql("SELECT Username, Snap_Date FROM snapchat_data WHERE Location = 'New York' AND Snap_Type = 'photo'").show()

8. Users from New York with Photo Snaps:
+-----------+----------+
|   Username| Snap_Date|
+-----------+----------+
|   john_doe|2024-11-01|
|emily_clark|2024-11-08|
+-----------+----------+

9. Country with Maximum Number of Users: This query identifies the location with the highest number of users.

In [ ]:
print("9. Country with the maximum number of users:")
spark.sql("SELECT Location, COUNT(DISTINCT User_ID) AS User_Count FROM snapchat_data GROUP BY Location ORDER BY User_Count DESC LIMIT 1").show()

9. Country with the maximum number of users:
+-----------+----------+
|   Location|User_Count|
+-----------+----------+
|Los Angeles|         2|
+-----------+----------+

**Step 5: Schema Exploration**

This step prints the schema of the DataFrame to show the structure of the data.

In [ ]:
# Show the schema of the dataframe
print("Schema of the DataFrame:")
df.printSchema()

Schema of the DataFrame:
root
 |-- User_ID: string (nullable = true)
 |-- Username: string (nullable = true)
 |-- Snap_Date: string (nullable = true)
 |-- Snap_Type: string (nullable = true)
 |-- Friends_Count: long (nullable = true)
 |-- Snap_Views: long (nullable = true)
 |-- Messages_Sent: long (nullable = true)
 |-- Snap_Streak: long (nullable = true)
 |-- Snap_Amount: double (nullable = true)
 |-- Location: string (nullable = true)

**Step 6: Stopping the Spark Session**

Finally, the Spark session is stopped to release resources.

In [ ]:
# Stop the Spark session
spark.stop()

**Result:**
The SQL queries produce several key insights about Snapchat user activity:

1. Total Snap Views per User: Each user's total number of views.
2. Average Snap Amount per User: The average amount spent by each user.
3. Users with Snap Streak > 50: Users who have maintained a streak greater than 50.
4. Total Messages Sent by Country: The total messages sent by users in each location.
5. User with the Highest Snap Amount: The user who spent the most on a snap.
6. Number of Users with Video Snaps: The count of users who posted video snaps.
7. Average Friends Count: The average number of friends across all users.
8. Users from New York with Photo Snaps: A list of users from New York who posted photo

These results help uncover patterns in user activity and engagement on Snapchat, providing useful insights into regional behaviors and user spending habits.